{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <script src="https://kit.fontawesome.com/d9c78b6614.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <div class="container"><br><br>
        <i class="fas fa-key"></i>
        <h1>forgot_password? <br><br> <span>to continue <br> enter mobile number or mail-id</span> </h1>
        
        <form action="{% url 'forgot_password' %}" method="post">
            {% csrf_token %}
            <div>
                <div>
                    <i class="fas fa-phone"></i>
                    <input type="text" name="mob" class="input-field" placeholder="Mobile Number">
                </div>
                <div>
                    <i class="fas fa-envelope"></i>
                    <input type="text" name="email" class="input-field" placeholder="email">
                </div>
            </div>
            <br>
            <button type="submit" class="login-button">Submit</button>
        </form>
        <a href="{% url 'login' %}"><button class="login-button">Cancel</button></a>
    </div>
</body>
</html>