{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://kit.fontawesome.com/d9c78b6614.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <i class="fas fa-user-circle i"></i>
            <h1>Login</h1>
            <h3>to your account</h3>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="email" placeholder="Username" required>
                <div class="password-container">
                    <input type="password" id="pass" name="pass1" placeholder="Password" required onclick="myFunction1()">
                    <i class="fas" id="see" onclick="myFunction()"></i>
                </div>
                <button type="submit">LOG IN</button>
            </form>
            <a href="{% url 'forgot_password' %}">Forgot Password?</a>
        </div>
        <div class="right-side">
            <i class="fas fa-user i"></i>
            <h1>Signup</h1>
            <h3>To create a new account <br><i class="fas fa-hand-point-down"></i></h3>

            <div class="social-buttons">
                <!-- Twitter Button -->
                <a href="{% url 'social:begin' 'twitter' %}">
                    <button><i class="fab fa-twitter" style="color: rgb(0, 162, 255);"></i></button>
                </a>

                <!-- Facebook Button -->
                <a href="{% url 'social:begin' 'facebook' %}">
                    <button><i class="fab fa-facebook-f" style="color: rgb(0, 85, 255);"></i></button>
                </a>

                <!-- Google Button -->
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    <button><i class="fab fa-google-plus-g" style="color: rgb(255, 157, 0);"></i></button>
                </a>
            </div>
            
            <br>
            <p>Don't have an account?
                <br> <a href="{% url 'signup' %}">Register</a></p>
        </div>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("pass");
            let icon = document.getElementById("see");
            if (x.type === "password") {
                x.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                x.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
        function myFunction1() {
            var x = document.getElementById("pass");
            let icon = document.getElementById("see");
            if (x.type === "password") {
                icon.classList.add("fa-eye-slash");
                icon.classList.remove("fa-eye");
            } else {
                icon.classList.add("fa-eye");
                icon.classList.remove("fa-eye-slash");
            }
        }
    </script>
</body>
</html>